.contact {
  width: 70%;
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  margin: 0 auto 60px;
  gap: 40px;
  flex-wrap: wrap;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.h3contact {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #531cb3;
}

.textcontact {
  font-weight: 400;
  font-size: 1.1rem;
  display: flex;
  align-items: flex-start;
  gap: 7px;
  flex-direction: column;
}

.textcontact i {
  font-size: 1.3rem;
  color: #531cb3;
}

.centering {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.btn123 {
  background-color: #531cb3;
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 600;
  border: 3px solid #531cb3;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 50px;
}

.btn123:hover {
  background-color: #fff;
  color: #531cb3;
  border: 3px solid #531cb3;
}
